{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'averaging/css/detail_style.css' %}">
    <title>{{title}}</title>
</head>

<body>
    <center><h3>{{ parameter.latex }}</h3></center>
    <center><img src="{% static parameter.plot %}"></center><br>
    <table border="1" id="measurement">
        <tr>
            <th>Experiment</th>
            <th>Measurement{{ parameter.unit_str }}</th>
            <th>$\Delta\chi^2$</th>
            <th>Reference or $p$-value</th>
            <th>Comments</th>
        </tr>

        {% for measurement in parameter.measurements %}
        <tr>
            {% autoescape off %}
            <td{{ measurement.style }}>{{ measurement.experiment }}</td>
            <td{{ measurement.style }}>{{ measurement.measurement }}</td>
            <td>{{ measurement.chi2 }}</td>
            <td>{{ measurement.reference }}</td>
            <td>{{ measurement.comments }}</td>
            {% endautoescape %}
        </tr>
        {% endfor %}
    </table>
    {% autoescape off %}
    {{ parameter.features }}
    {% endautoescape %}
    {% if parameter.correlations %}
    <br>
    <h3>Further parameters used in the fit and their correlation with the average{% if parameter.dependency_plot %} (<a href="{% static parameter.dependency_plot %}">dependency graph</a>){% endif %}</h3>
    <table border="1" id="correlation">
        <tr>
            <th>Type</th>
            <th>Parameter</th>
            <th>Correlation [%]</th>
            <th>Value</th>
            <th>$\Delta\chi^2$</th>
        </tr>
        {% for correlation in parameter.correlations %}
        <tr>
        <td>{{ correlation.source }}</td>
        {% if correlation.source == "fit" %}
        <td><a href="/index/detail/{{ correlation.name }}">{{ correlation.parameter }}</a></td>
        {% else %}
        <td>{{ correlation.parameter }}</td>
        {% endif %}
        <td>{{ correlation.correlation }}</td>
        <td>{{ correlation.value }}</td>
        <td>{{ correlation.chi2 }}</td>
        </tr>
        {% endfor %}
    </table>
    {% autoescape off %}
    {{ parameter.correlation_features }}
    {% endautoescape %}
    {% endif %}

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>MathJax = { tex: { inlineMath: [['$', '$']] } };</script>
