{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css"
        rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'averaging/css/index_style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'averaging/HFLAV.png' %}" />
    <style>
    .overlay{
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 999;
            background: rgba(255,255,255,0.8) url("{% static 'averaging/loading.gif' %}") center no-repeat;
        }
    </style>
    <title>{{title}}</title>
</head>

<body>

    <div class="overlay"></div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <a class="navbar-brand" href="/index">
    <img src="{% static 'averaging/HFLAV.png' %}" alt="logo" style="width:80px;">
  </a>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/index">{{title}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button class="navbtn" id="clear">Clear Filters</button>
                </li>
                <li class="nav-item">
                    <a href="https://gitlab.cern.ch/hflav/averaging/-/blob/main/doc/manual.md" target="_blank"><button class="navbtn" id="clear">User Manual</button></a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="cards">
        <form id="filter_form" method="POST">
            {% csrf_token %}
            <article class="card">
                
                    <p class="heading">Initial particles </p>
                    <div class="text">
                    <div class="radio_initial">
                        {% for value , latex in initial %}
                        <input type="radio" name="initial" value="{{ value }}" class="formbtn"
                            id="id_initial_{{ forloop.counter0 }}">
                        <label for="id_initial_{{ forloop.counter0 }}">{{ latex }}</label>
                        {% endfor %}

                    </div>
                </div>
            </article>
            <article class="card">
                
                    <p class="heading">Type of observable</p>
                    <div class="text">
                    <div class="radio_obs">
                        {% for value , latex in obs %}
                        <input type="radio" name="observable" value="{{ value }}" class="formbtn"
                            id="id_observable_{{ forloop.counter0 }}">
                        <label for="id_observable_{{ forloop.counter0 }}">{{ latex }}</label>
                        {% endfor %}
                    </div>
                </div>
            </article>
            {% for name , prt_list in daughter %}
            <article class="card3">
            <p class="heading">{{ name }}</p>
                <div class="text">
                    <div class="box_particle">
                        {% for id, latex in prt_list %}
                        <button id="{{ id }}_bt">{{ latex }}</button>
                        {% endfor %}
                    </div>
                </div>
            </article>
            {% endfor %}
            <article class="card2">
                
                    <p class="heading2">Child Particle Numbers</p>
                    <div class="text">
                    <div class="particle_list">
                        {% for prt, latex in num %}
                        <div id="{{ prt }}" style="display: none;">

                            <span class="minus">-</span>
                            <input type="text" name="{{ prt }}" class="daughterinput" value="0" id="id_{{ prt }}" >
                            <span class="plus">+</span>
                            <label for="id_{{ prt }}">{{ latex }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </article>
        </form>
    </main>

    <br>


    <table cellpadding="0" cellspacing="0" border="0" class="table" id="table1" align="center">
        <thead>
            <tr>
                <th align="center">Select for Overview Plot</th>
                <th>Observable</th>
                <th>Average</th>

            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <hr>
    <center><button id="checkbox-btn" href="#plot">Generate Overview Plot</button></center><br>

    <div id='toTop'>To The Top!</div>
    <div id="plot">

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript"
        src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>

    <script src="{% static 'averaging/js/index.js' %}"></script>

    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>MathJax = { tex: { inlineMath: [['$', '$']] } };</script>
    <script>
        $('#checkbox-btn').click(function (e) {
            e.preventDefault();
            var rows_selected = table.column(0).checkboxes.selected();
            var selected = '';
            $.each(rows_selected, function (index, rowId) {
                selected = selected.concat(rowId);
                selected = selected.concat(',');
            });
            $.ajax({
                url: "/index/post/ajax/plot",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    "selected": selected,
                },
                success: function (json_response) {
                    var path = JSON.parse(json_response)["filepath"];
                    var id = JSON.parse(json_response)["id"];
                    $('#plot').prepend('<img style="border: 5px solid #555;" class="center" id="' + id + '" src="' + path + '" /><a href="' + path + '" download ><button class="btn"><i class="fa fa-download"></i> Download</button></a><hr>');
                    $('html,body').animate({ scrollTop: $("#" + id).offset().top }, 'medium');
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });

        });
    </script>

</body>

</html>
